@import url("https://fonts.googleapis.com/css2?family=Cormorant&family=Oswald:wght@300;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Oswald", sans-serif;
  background-image: url(../images/delivery/back.png);
  background-repeat: no-repeat;
  background-size: cover;
}
//    font-family: 'Cormorant', serif;
.navigation {
  display: none;
}
.nav-mobiles {
  display: none;
}
.nav {
  background: #000000;
}
.nav-desctop {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 80%;
  width: 100%;
  margin: 0 auto;

  .nav__item {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }
  .logo {
    height: 75px;
    width: 34px;
  }
  .hamburger {
    display: none;
  }
}

.nav-bar {
  ul {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 50px;
    .search {
      display: flex;
      align-items: center;
      column-gap: 10px;
      img {
        width: 18px;
        height: 18px;
      }
    }
  }
  .nav-bar-link {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #ffffff;
    text-decoration: none;

    &:hover {
      border-bottom: 1px solid #43ffd2;
      color: #43ffd2;
      transition: 0.3s all ease;
    }
  }
}

.nav-bar-contacts {
  display: flex;
  align-items: center;
  column-gap: 21px;
  &__left-item {
    display: flex;
    align-items: center;
    column-gap: 10px;
    p {
      font-weight: 400;
      font-size: 14px;
      line-height: 21px;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      color: #43ffd2;
    }
    img {
      width: 18px;
      height: 18px;
    }
  }

  &__right-item {
    position: relative;
    img {
      width: 30px;
      height: 30px;
    }
    .nav-bar-contacts__right-item-number {
      position: absolute;
      left: 19px;
      top: -3px;
      width: 16px;
      height: 16px;
      background: #43ffd2;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      a {
        text-decoration: none;
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        color: #142b2b;
      }
    }
  }
}

.footer {
  background: #000000;
  padding: 30px 0 64px 0;
  .footer-desctop {
    max-width: 80%;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: start;
    gap: 75px;
  }
  .logo {
    height: 75px;
    width: 34px;
  }

  &__item {
    max-width: 25%;

    ul {
      display: flex;
      flex-direction: column;
      row-gap: 4px;
      list-style: none;
    }
  }

  .footer__item-text {
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #ffffff;
  }
  .footer__item-title {
    a {
      font-weight: 700;
      font-size: 14px;
      line-height: 21px;
      margin-bottom: 6px;
      letter-spacing: 0.04em;
      text-transform: uppercase;
      color: #43ffd2;
      text-decoration: none;
      list-style: none;
    }
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 6px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #43ffd2;
    text-decoration: none;
    list-style: none;
  }
  .footer__item-subtitle {
    a {
      font-weight: 300;
      font-size: 12px;
      line-height: 18px;
      letter-spacing: 0.04em;
      text-transform: uppercase;
      color: #ffffff;
      text-decoration: none;
    }
    list-style: none;
  }

  .footer__item-link {
    a {
      font-weight: 700;
      font-size: 14px;
      line-height: 18px;
      letter-spacing: 0.04em;
      text-transform: uppercase;
      color: #43ffd2;
      list-style: none;
      text-decoration: none;
    }
  }
}

.footer-contacs {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  &__item {
    display: flex;
    flex-direction: column;
    row-gap: 6px;
  }

  &__item-title {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #43ffd2;
  }

  &__item-subtitle {
    font-weight: 300;
    font-size: 10px;
    line-height: 15px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #ffffff;
  }

  &__item-icon {
    display: flex;
    align-items: center;
    column-gap: 20px;
    margin-top: 18px;
  }
}

.position p {
  font-family: "Oswald", sans-serif;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 4%;
  color: #ffffff;
  margin-top: 5vh;
  margin-left: 10vw;
  a {
    text-decoration: none;
    color: #ffffff;
  }
}
.maintext {
  font-family: "Cormorant", serif;
  font-size: 100px;
  color: #ffffff;
  letter-spacing: 2%;
  line-height: 121px;
  margin-top: 8vh;
  margin-left: 10vw;

  .paytxt {
    margin-left: 10vh;
  }
}

.warning {
  margin-top: 4vh;
  margin-left: 14vw;
  display: flex;
  .exclmpoint {
    color: #d978ac;
    font-size: 100px;
    padding-right: 5px;
    font-family: "Cormorant", serif;
  }
  .warningtxt {
    padding-left: 5px;
    display: flex;
    flex-wrap: wrap;
    color: #ffffff;
    text-transform: uppercase;
    width: 35%;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 4%;
    font-weight: 300;

    .forwho {
      color: #d978ac;
      font-weight: 600;
      padding-top: 10px;
    }
    span {
      color: #43ffd2;
    }
  }
}

.payment {
  margin-top: 15vh;
  width: 100%;
  color: #ffffff;
  max-width: 80%;
  width: 100%;
  margin: 0 auto;
  margin-top: 15vh;
  font-size: 20px;
  .paytext {
    color: #d978ac;
    padding-bottom: 3vh;
    margin-left: 2vw;
    font-weight: 700;
  }
  .methods {
    font-weight: 300;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    margin: 0 auto;
    row-gap: 10px;
    backdrop-filter: blur(5px);
    .option {
      p {
        align-items: center;
        justify-content: center;
        text-transform: uppercase;
        width: 65%;
        display: flex;
        font-weight: 300;
      }

      display: flex;
      flex-direction: column;
      align-items: center;
      height: 211px;
      width: 255px;
      background-color: rgba(0, 0, 0, 0.2);
      border-radius: 20px;
    }
  }
}

.delivery_value {
  margin-top: 15vh;
  margin-left: 20vw;
  line-height: 26px;
}
.value_heading {
  text-transform: uppercase;
  padding-bottom: 10px;
  color: #d978ac;
  font-weight: 700;
  font-style: bold;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 4%;
}
.value_list {
  line-height: 26px;
  font-weight: 300;
  font-size: 20px;

  text-transform: uppercase;
  letter-spacing: 2%;

  li {
    padding-top: 10px;
    .span_two {
      font-style: bold;
      font-weight: 600;
    }
    color: #ffffff;
    .span_one {
      color: #43ffd2;
    }
  }
}

.delivery_conditions {
  margin-top: 15vh;
  margin-left: 10vw;
  text-transform: uppercase;
}
.conditions_heading {
  padding-bottom: 15px;
  text-transform: uppercase;
  color: #d978ac;
  font-size: 20px;
  line-height: 30px;
  font-weight: 700;
}

.conditions_list {
  line-height: 30px;
  padding-left: 2vw;
  li {
    list-style-type: disc;
    color: #ffffff;
    font-style: Light;
    font-size: 20px;

    letter-spacing: 2%;
    font-family: "Oswald", sans-serif;
    font-weight: 300;
    width: 60%;
  }
  span {
    color: #43ffd2;
  }
}

.extra_info {
  background-color: #00000020;
  width: 961px;
  height: 820px;
  padding: 20px;
  border-radius: 20px;
  font-size: 20px;
  line-height: 30px;
  backdrop-filter: blur(5px);
  margin-left: 10vw;
  margin-top: 15vh;
}
.extra_name {
  font-weight: 700;
  font-style: Bold;
  font-size: 20px;
  line-height: 30px;
  line-height: 100%;
  letter-spacing: 4%;
  color: #d978ac;
  padding: 10px;
}
.info_one {
  font-style: light;
  font-weight: 300;
  letter-spacing: 4%;
  color: #ffffff;
  padding: 10px 10px 0px 10px;
  width: 90%;
}
.info_two {
  font-style: light;
  font-weight: 300;
  letter-spacing: 4%;
  color: #ffffff;
  padding: 0px 10px 0px 10px;
  width: 90%;
}
.info_list {
  font-style: light;
  font-weight: 300;
  letter-spacing: 4%;
  color: #ffffff;
  padding: 0px 10px 0px 50px;
  width: 90%;
}
.manager_phone {
  font-style: light;
  font-weight: 300;
  letter-spacing: 4%;
  color: #ffffff;
  padding: 20px 10px 0px 10px;
  width: 90%;
  span {
    color: #43ffd2;

    font-style: bold;
  }
}
.money_back {
  font-weight: 700;
  font-style: Bold;
  font-size: 20px;
  line-height: 30px;
  line-height: 100%;
  letter-spacing: 4%;
  color: #d978ac;
  padding: 35px 10px 35px 10px;
}
.money_rule_first {
  font-style: light;
  font-weight: 300;
  letter-spacing: 4%;
  color: #ffffff;
  padding: 0px 10px 0px 10px;
  width: 87%;
}
.money_rule_second {
  font-style: light;
  font-weight: 300;
  letter-spacing: 4%;
  color: #ffffff;
  padding: 30px 10px 0px 10px;
  width: 90%;
}

.stamp_image {
  margin-left: 10vw;
  margin-bottom: 5vh;
}

@media (max-width: 1400px) {
  .footer-desctop {
    max-width: 100%;
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media (max-width: 1200px) {
  .methods {
    .option {
      font-size: 13px;
      height: 100px;
    }
  }
  .extra_info {
    font-size: 15px;
    width: 700px;
  }
  .nav-desctop {
    .nav-bar {
      display: none;
    }
    .nav-bar-contacts__left-item {
      display: none;
    }
    .nav__item {
      flex-basis: 55%;
    }
    .hamburger {
      display: flex;
      flex-direction: column;
      row-gap: 5px;
      cursor: pointer;
      span {
        width: 20px;
        border: 1px solid #43ffd2;
      }
    }
  }
  .nav-desctop-active {
    display: none;
  }
  .nav-mobile-active {
    display: block;
    height: 100vh;
    width: 100%;
    background-color: #000000;
    .nav-mobile-logo {
      display: flex;
      align-items: center;
      justify-content: space-around;
      img {
        width: 22px;
        height: 48px;
      }
      .hamburger-close {
        display: flex;
        flex-direction: column;
        column-gap: 10px;
        cursor: pointer;
        .span1 {
          width: 25px;
          transform: rotate(45deg);
          border: 1px solid #43ffd2;
        }
        .span2 {
          width: 25px;
          transform: rotate(-45deg);
          border: 1px solid #43ffd2;
        }
      }
    }
    .mobile-navigation {
      display: flex;
      flex-direction: column;
      row-gap: 10px;
      align-items: center;
      justify-content: center;
      margin-bottom: 20px;
      ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 10px;
        border-bottom: 1px solid #555555;
        .search {
          display: flex;
          align-items: center;
          column-gap: 10px;
          a {
            font-weight: 400;
            font-size: 14px;
            line-height: 21px;
            letter-spacing: 0.04em;
            text-transform: uppercase;
            color: #ffffff;
            text-decoration: none;
            text-align: center;
          }
          img {
            width: 18px;
            height: 18px;
          }
        }
        .mobile-link {
          font-weight: 400;
          font-size: 14px;
          line-height: 21px;
          letter-spacing: 0.04em;
          text-transform: uppercase;
          color: #ffffff;
          text-decoration: none;
          text-align: center;
          &:hover {
            border-bottom: 1px solid #43ffd2;
            color: #43ffd2;
            transition: 0.3s all ease;
          }
        }
      }
    }
    .mobile-contacts-privacy {
      font-weight: 400;
      font-size: 10px;
      line-height: 15px;
      letter-spacing: 0.04em;
      font-feature-settings: "liga" off;
      color: #555555;
    }
  }
  .footer {
    .footer-desctop {
      display: none;
    }
  }
  .navigation {
    display: block;
    height: 100vh;
    width: 100%;
    padding: 20px 38px;
  }
  .nav-mobile-logo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-basis: 50%;
  }
  .mobile-nav-bar {
    ul {
      margin: 20px 0 30px 0;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      row-gap: 10px;
      a {
        text-decoration: none;
        text-align: center;
        font-weight: 700;
        font-size: 14px;
        line-height: 21px;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        color: #43ffd2;
      }
    }
  }

  .mobile-contacts {
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    row-gap: 20px;
  }
  .mobile-contacts-block {
    display: flex;
    row-gap: 6px;
    flex-direction: column;
  }
  .mobile-contacts-title {
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #43ffd2;
  }
  .mobile-contacts-subtitle {
    text-align: center;
    font-weight: 300;
    font-size: 10px;
    line-height: 15px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #ffffff;
  }

  .mobile-contacts-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 20px;
  }
  .mobile-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 10px;
  }
  .mobile-details-title {
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #43ffd2;
  }
  .mobile-details-subtitle {
    font-weight: 300;
    font-size: 10px;
    line-height: 15px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #ffffff;
  }

  .hero-active {
    display: none;
  }
  .main-active {
    display: none;
  }
  .footer-active {
    display: none;
  }
}

@media (max-width: 770px) {
  .extra_info {
    font-size: 13px;
    width: 600px;
  }
}

@media (max-width: 650px) {
  .extra_info {
    font-size: 11px;
    width: 500px;
  }
  .stamp_image {
    display: none;
  }
}

@media (max-width: 580px) {
  .maintext {
    font-size: 75px;
  }
  .value_list {
    font-size: 15px;
  }
  .conditions_list li {
    font-size: 15px;
  }
  .extra_info {
    font-size: 11px;
    width: 500px;
  }
  .stamp_image {
    display: none;
  }
}
@media (max-width: 500px) {
  .extra_info {
    display: none;
  }
  .stamp_image {
    display: none;
  }
}

@media (max-width: 580px) {
  .maintext {
    font-size: 75px;
  }
  .value_list {
    font-size: 13px;
  }
  .conditions_list li {
    font-size: 13px;
  }

  .warning {
    font-size: 15px;
    width: 100%;
  }
}
@media (max-width: 495px) {
  .maintext {
    font-size: 75px;
  }
  .paytxt p {
    padding-right: 20px;
  }
  .value_list {
    font-size: 13px;
  }
  .conditions_list li {
    font-size: 13px;
  }

  .warning {
    font-size: 15px;
    width: 100%;
  }
}

@media (max-width: 400px) {
  .maintext {
    font-size: 55px;
  }
  .paytxt p {
    padding-right: 20px;
  }
  .value_list {
    font-size: 13px;
  }
  .conditions_list li {
    font-size: 13px;
  }
  .forwho {
    max-width: 100%;
    width: 100%;
  }

  .warning {
    font-size: 15px;
    width: 100%;
  }
}
